<div class="container-fluid about">
    <div class="bio row">
        <div class="col-sm-4">
            <img class=" pixel " src=" assets/images/KeithPixel.jpeg " alt="Keith and his daughter Pixel ">
        </div>
        <div class="col-sm-8">
            <h3>Biography</h3>
            <img class="bullet " src="assets/images/balloon.png ">
            <p>Keith Kimball was born in 1970 to two professional educators in rural, western Pennsylvania. His mother a, now retired, public-school, special education teacher began his love for learning and education as a part of her Head Start class at
                the age of 3.</p>
            <img class="bullet " src="assets/images/balloon.png ">
            <p>He spent his elementary years in a suburb of Philadelphia then moved to Herndon, Virginia (a suburb of Washington D.C.) at the age of 15. From there he moved to Massachusetts before finally settling in New London in his senior year of high
                school where he attended New London High (Go Whalers)!</p>
            <img class="bullet " src="assets/images/balloon.png ">
            <p>He has been an active New London resident ever since. His wife, Jeanine, a Cuban-American born and raised in Miami, came to live in New London in 2000. She has grown to love New London and its community and never wants to leave.</p>
            <img class="bullet " src="assets/images/balloon.png ">
            <p>Keith became a father in 2013 when their only daughter, Pixel was born. In 2015 he left his job as a general-ledger accountant at Dealertrack Technologies to focus on raising Pixel and supporting her educational journey.</p>
            <img class="bullet " src="assets/images/balloon.png ">
            <p>Keith (and the whole family) are movie geeks. He enjoys spending time on his hobbies; baking, cooking, and community building as well as spending time with his family, friends and neighbors.</p>
        </div>
    </div>
    <div class="experience row">
        <div class="col-sm-8">
            <h3>Experience and Accomplishments</h3>
            <img class="bullet " src="assets/images/heart.png ">
            <p>30-year New London resident and proud parent of a Jennings School student</p>
            <img class="bullet " src="assets/images/heart.png ">
            <p>Over 20 years experience as a staff accountant for large corporations and nonprofit organizations</p>
            <img class="bullet " src="assets/images/heart.png ">
            <p>Served as treasurer of Re:public Ed, a nonprofit public education advocacy organization, and current treasurer Grace and Peace Church</p>
            <img class="bullet " src="assets/images/heart.png ">
            <p>As treasurer of The Friendship School’s FFO, worked with fellow board members to carry out several successful fundraisers</p>
        </div>
        <div class="col-sm-4">
            <img class="keith " src="assets/images/Keith-Portrait.jpeg " alt="Keith portrait ">
        </div>
    </div>
    <div class="commit row">
        <div class="col-sm-4">
            <img class="chairs " src="assets/images/schoolchairs.jpeg " alt="Classroom setting ">
        </div>
        <div class="col-sm-8">
            <h3>I AM COMMITTED TO...</h3>
            <img class="bullet " src="assets/images/heartballoon.png ">
            <p>Ensuring that our all-magnet district effectively acquires and distributes funds and resources for all New London students.
            </p>
            <img class="bullet " src="assets/images/heartballoon.png ">
            <p>Building our already impressive ESL program to encourage the success of our ESL community members.</p>
            <img class="bullet " src="assets/images/heartballoon.png ">
            <p>Improving the timeliness and quality of communication between NLPS administration and faculty and New London parents and students.</p>
            <img class="bullet " src="assets/images/heartballoon.png ">
            <p>Seeking out input of New London parents and students to ensure their voices are heard and represented.</p>
            <img class="bullet " src="assets/images/heartballoon.png ">
            <p>Expanding on NLPS curriculums to include education on civics and government that teaches our rights and responsibilities as citizens, and how our government works.</p>
        </div>
    </div>
</div>