<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kimball for Board of Ed</title>
</head>

<body>
    <div class="banner">
        <h1>Keith Kimball for Board of Ed</h1>
        <div class="links">
            <a [routerLink]="[ '']"><button>Home</button> | </a>
            <a [routerLink]="['/campaign']"><button>About Keith</button> | </a>
            <a [routerLink]="['/news']"><button>News</button> | </a>
            <a href=" https://nlgreens.org/support.html " target="_blank "><button>Get Involved</button> | </a>
            <a href="https://nlgreens.org/about.html " target="_blank "><button>About NL Greens</button> | </a>
            <a href="https://voterregistration.ct.gov/OLVR/welcome.do" target="_blank"><button>CT Voter Registration</button></a>
        </div>
        <h2><em>Vote For Me on November 7th!</em></h2>
        <h3><em>Please visit Green Party HQ at 18-20 Masonic Street, across from the USPS</em></h3>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
    <footer>
        <kboe-footer></kboe-footer>
    </footer>
</body>

</html>