.banner {
	background-color: darkslateblue;
}

h1, h2 {
	color: limegreen;
	text-align: center;
	text-shadow: 2px 2px black;
	text-transform: uppercase;
	font-weight: bold;
}

h2 {
	padding-bottom: 10px;
}

.links {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 30px;
}

a {
	text-decoration: none;
	color: limegreen;
}

button {
	background-color: transparent;
	color: limegreen;
	padding: 10px;
	border-radius: 10px;
	text-shadow: 2px 2px black;
}
