<div class="row">
  <div class="col-sm-6">
    <div class="card border-success">
      <h5 class="card-header text-center">9/27 Press Release</h5>
      <div class="card-body">
        <p class="card-text">NEW LONDON — The New London Greens invite the public to join them for snacks, music, and an opportunity to meet this year’s candidates at their campaign office and community space at 312 State Street, from 6–8:30PM this Wednesday, September 29th. The office will also be open for drop-in visits starting at 12 noon.</p> 
        <p class="card-text">Running for City Council is dedicated restorative justice trainer and facilitator Kris Wraight. Kris will prioritize addressing the needs and struggles of our city's residents; building strong relationships across lines of race and ethnicity; re-envisioning public safety by supporting preventive practices; opportunities for affordable housing/home ownership, community spaces for our youth, and a well-funded Public Works Department to keep our streets, schools, and parks safe/clean.</p>                 
        <p class="card-text">Also running for City Council is committed member of the New London Arts Council and co-founder of Public Art for Racial Justice Education (PARJE), Eddie Long. Eddie is committed to a city government that honors the arts and cultural creativity/vibrancy of our community. Eddie wants to ensure that New London's plans for economic development include affordable residential and commercial spaces created in currently existing buildings, to help keep our most creative community members in the city, and accessible mental health and addiction services.</p>                 
        <p class="card-text">Running for Board of Education on the Green line is public education advocate and proud parent of a Jennings School student, Keith Kimball, who is committed to ensuring that our all-magnet district effectively acquires and distributes funds/resources for all New London students; building our already impressive ESL program; and improving the timeliness and quality of communication between NLPS administration/faculty and New London parents and students.</p>
        <p class="card-text">The Green Party is committed to sustainability, social and economic justice, grassroots democracy and nonviolence. Due to our firm belief that government should be accountable to its citizens, New London Green Party candidates do not accept contributions from corporations, lobbyists, political action committees or labor unions. For further information regarding the New London Greens, visit <a href=" https://nlgreens.org" target="_blank ">nlgreens.org</a>. Email inquiries can be sent to <a href="mailto:info@nlgreens.org">info@nlgreens.org</a>.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card border-success text-center">
      <div>
        <iframe class="video"
          src="https://www.youtube.com/embed/xD30f8R4Szw" 
          title="YouTube video player" 
          frameborder="0" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </div>
      <div class="card-body">
        <h4 class="card-title">Thinking Green, hosted by Ronna Stuller</h4>
        <h5 class="card-subtitle mb-2 text-muted">3 Candidates</h5>
        <h6 class="card-subtitle"><em><a href="https://www.facebook.com/profile.php?id=100010602644739">Kris Wraight</a> and <a href="https://www.facebook.com/leon.longiii">Eddie Long</a> for Town Council, <a href="https://www.facebook.com/WebWeasel">Keith Kimball</a> for Board of Ed</em></h6>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card border-success">
      <h5 class="card-header text-center">CT State Green Party Covid19 Public Health Policy</h5>
      <h6 class="card-subtitle text-center">Statement by the Green Party of Connecticut:</h6>
      <h6 class="card-subtitle text-center">We Support Mandatory Covid-19 Public Health Measures</h6>
      <div class="card-body">
        <p class="card-text">The Green Party of Connecticut has a long history advocating for a safe and healthy environment. After a year and a half of disastrous policies by both Republican and Democratic politicians, we say that the protection of the public health demands emergency action and mandatory measures to contain the global Covid-19 pandemic.</p>
        <p class="card-text">Like many people in the US, we are concerned about the ways that coercive government action can infringe on individual freedoms. We also recognize that in the Black and Indigenous communities, vaccine hesitancy is the product of intergenerational trauma inflicted by a racist medical establishment. Moreover, the major contributors to the current crisis are the long term failure of the Republican and Democratic parties to create a national health care system like those of every other industrialized nation, the corporate pillaging of the nation’s public health infrastructure, and the US government’s hostility toward the World Health Organization and other nations attempting to address the lack of healthcare in developing countries.</p>          
        <p class="card-text">This is a crisis that, if not entirely avoidable, could have been managed in a way that would have made coercive measures unnecessary. If in 2020 public health policy had been driven by concern for the most vulnerable, including low wage frontline workers, seniors, and people with disabilities and chronic illnesses, the advent of vaccines in 2021 might have isolated and effectively extinguished the virus. Instead, politicians gave away 3 trillion dollars to big business under the guise of “pandemic relief,” pushed to “re-open” the economy prematurely to protect corporate profits, and promoted the introduction of patent-protected proprietary vaccines as a voluntary “cure all.” Government mis-leadership has failed to slow the spread of Covid-19 and may have even helped the spread of new variants of the virus.</p>
        <p class="card-text">Because of the dramatic failure of government policies over the last eighteen months, we now face a grave threat to the health and well-being of millions of people in the US and hundreds of millions in the world. Swift and decisive action is needed for the preservation of human life and the protection of the public health. In the long run, the people of the United States need and deserve universal, free health care. In the long run, the best way to prevent a health crisis is to ensure that an informed public has ongoing, trusting relationships with their medical professionals. In the long run, public trust in our institutions of public health must be strengthened with demonstrated transparency, expertise, and de-politicization. Today, however, immediate action is necessary.</p>
        <p class="card-text">We believe mandatory measures are needed to protect the public health. These measures must address the needs of ordinary people who are understandably confused and frustrated with government action and inaction. Measures that we believe should be taken immediately by federal, state, and local governments include:</p>
        <ul>
          <li>Masking requirements for all indoor public spaces immediately. The focus for enforcement, however, should be on high profile politicians, celebrities, and other elites who we see in the media at gala social events without masks or social distancing.
          <li>The number of students already being quarantined this school year alone demonstrates the continued need for remote learning options. Such options must be accompanied by financial support for families in which parents lose work time because of remote learning.</li>
          <li>Hazard pay to frontline workers, including store clerks, waitstaff, bus drivers, and other public-facing employees.</li>
          <li>Free public access to frequent Covid-19 testing.</li>
          <li>Robust pro-vaccine public education campaigns with leadership inclusive of Black, Brown, and Indigenous people and that acknowledges the medical establishment’s history of racism.</li>          
          <li>Mandatory vaccination timetables for these populations:</li>
          <ul>
            <li>Faculty, staff, and students over age 12 in all schools;</li>
            <li>Staff and residents in all medical and mental health facilities;</li>
            <li>Staff and inmates in all prisons;</li>
            <li>Police officers;</li>
            <li>Public employees, prioritizing those with public-facing jobs.</li>
          </ul>
          <li>Free, individual medical consultations with a doctor to determine if a medical exemption is appropriate. Medical exemptions for Covid-19 survivors who are documented to have comparable antibodies to vaccine recipients. Persons medically exempted from vaccination should be provided free weekly testing.</li>
          <li>An end to religious exemptions for Covid-19 vaccination; religion has no business interfering in a public health crisis.</li>
          <li>The US government must take responsibility for its role in the global pandemic not only by waiving patent protections for vaccines that received billions in funding from the US for their development, but also by ensuring the mass production and free distribution of one billion doses of COVID-19 vaccines in Latin America, Africa, and Asia.</li>
        </ul>
      </div>
    </div>
  </div>
</div>