<div class="container">
	<div class="alert alert-success text-center" role="alert">
		<a class="alert-link" [routerLink]="['/news-message']">
			<h3>Mensaje Para Mis Vecinos Latinos</h3></a
		>
	</div>
	<div class="row" style="margin-top: 20px; margin-bottom: 20px">
		<div class="col-sm-6 col-md-6">
			<div class="card border-success">
				<img src="assets/images/election-english.png" class="card-img-top" />
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="card border-success">
				<img src="assets/images/election-spanish.png" class="card-img-top" />
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px">
		<div class="col-sm-6">
			<div class="card border-success text-center">
				<div class="embed-responsive embed-responsive-1by1">
					<iframe
						width="560" 
						height="315"
						src="https://www.youtube.com/embed/M92zkt-te7c"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen
					></iframe>
				</div>
				<div class="card-body">
					<h4 class="card-title">Keith Kimball for New London Board of Education</h4>
					<h5 class="card-subtitle mb-2 text-muted">Thinking Green, hosted by Ronna Stuller, 2021</h5>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card border-success text-center">
				<div class="embed-responsive embed-responsive-1by1">
					<iframe 
						width="560" 
						height="315" 
						src="https://www.youtube.com/embed/FgulQnUYrj8?si=XTxV5OlWvE0PL_v0" 
						title="YouTube video player" 
						frameborder="0" 
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
						allowfullscreen></iframe>
				</div>
				<div class="card-body">
					<h4 class="card-title">Open House 2023 BoE Speech</h4>
					<h5 class="card-subtitle mb-2 text-muted">Keith Kimball, Green Party Headquarters</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px">
		<div class="col-sm-6">
			<div class="card border-success text-center">
				<div class="embed-responsive embed-responsive-1by1">
					<iframe
						width="560" 
						height="315"
						src="https://www.youtube.com/embed/D2Skv_i2BIw?si=LwHuNZe-NTL01jwN"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
						allowfullscreen
					></iframe>
				</div>
				<div class="card-body">
					<h4 class="card-title">Keith Kimball for New London Board of Education</h4>
					<h5 class="card-subtitle mb-2 text-muted">Thinking Green, hosted by Ronna Stuller, 2023</h5>
				</div>
			</div>
		</div>
	</div>

	<div>
		<router-outlet></router-outlet>
	</div>
</div>
