<div class="container">
	<div class="alert alert-success text-center" role="alert">
		<a class="alert-link" [routerLink]="['/news-message']">
			<h3>Mensaje Para Mis Vecinos Latinos</h3></a
		>
	</div>
	<div class="row" style="margin-top: 20px; margin-bottom: 20px">
		<div class="col-sm-6 col-md-6">
			<div class="card border-success">
				<img src="assets/images/election-english.png" class="card-img-top" />
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="card border-success">
				<img src="assets/images/election-spanish.png" class="card-img-top" />
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px">
		<div class="col-sm-6">
			<div class="card border-success">
				<h5 class="card-header text-center">9/27 Press Release</h5>
				<div class="card-body">
					<p class="card-text">
						NEW LONDON — The New London Greens invite the public to join them
						for snacks, music, and an opportunity to meet this year’s candidates
						at their campaign office and community space at 312 State Street,
						from 6–8:30PM this Wednesday, September 29th. The office will also
						be open for drop-in visits starting at 12 noon.
					</p>
					<a [routerLink]="['/news-pr927']" class="btn btn-success">
						Read more...
					</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card border-success">
				<h5 class="card-header text-center">
					CT State Green Party Covid19 Public Health Policy
				</h5>
				<h6 class="card-subtitle text-center">
					Statement by the Green Party of Connecticut:
				</h6>
				<h6 class="card-subtitle text-center">
					We Support Mandatory Covid-19 Public Health Measures
				</h6>
				<div class="card-body">
					<p class="card-text">
						The Green Party of Connecticut has a long history advocating for a
						safe and healthy environment. After a year and a half of disastrous
						policies by both Republican and Democratic politicians, we say that
						the protection of the public health demands emergency action and
						mandatory measures to contain the global Covid-19 pandemic.
					</p>
					<a [routerLink]="['/news-covid']" class="btn btn-success">
						Read more...
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="card border-success text-center">
				<div class="embed-responsive embed-responsive-1by1">
					<iframe
						class="video"
						src="https://www.youtube.com/embed/xD30f8R4Szw"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen
					>
					</iframe>
				</div>
				<div class="card-body">
					<h4 class="card-title">3 Candidates</h4>
					<h5 class="card-subtitle mb-2 text-muted">Thinking Green, hosted by Ronna Stuller</h5>
					<h6 class="card-subtitle">
						<em
							><a href="https://www.facebook.com/profile.php?id=100010602644739"
								>Kris Wraight</a
							>
							and
							<a href="https://www.facebook.com/leon.longiii">Eddie Long</a> for
							Town Council,
							<a href="https://www.facebook.com/WebWeasel">Keith Kimball</a> for
							Board of Ed</em
						>
					</h6>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="card border-success text-center">
				<div class="embed-responsive embed-responsive-1by1">
					<iframe
						class="video"
						src="https://www.youtube.com/embed/M92zkt-te7c"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen
					></iframe>
				</div>
				<div class="card-body">
					<h4 class="card-title">Keith Kimball for New London Board of Education</h4>
					<h5 class="card-subtitle mb-2 text-muted">Thinking Green, hosted by Ronna Stuller</h5>
				</div>
			</div>
		</div>
	</div>

	<div>
		<router-outlet></router-outlet>
	</div>
</div>
