<h2>Vote For Me on November 2nd!</h2>
<div class="welcome container-fluid">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <a [routerLink]="['/campaign']"><img class="keithlogo" src=" ./assets/images/keithmain.png "></a>
        </div>
        <div class="col-sm">
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSc6VjM1NZB2N9FirBF0EM5y9uuy9Em1b3jN84QlHeXu6QvFtQ/viewform?vc=0&c=0&w=1&flr=0 ">
                <img class="vote " src="./assets/images/votersurvey.png ">
            </a>
        </div>
        <div class="col-sm email ">
            <fa-icon [icon]="faEnvelopeOpen "></fa-icon><br>
            <a href="mailto:w.keith.kimball@gmail.com ">Email Keith</a>
        </div>
        <div class="col-sm">
            <a href="https://secure.anedot.com/nlgreens/donate ">
                <img class="donate " src="./assets/images/donate.png ">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
            <h3>Visit me on Facebook</h3>
            <a href="https://www.facebook.com/WebWeasel "><img class="facebook " src="./assets/images/facebook.png "></a>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>