<div>
	<div class="alert alert-success" role="alert">
		<a class="alert-link" [routerLink]="['/news-message']">
			<h3>Mensaje Para Mis Vecinos Latinos</h3></a
		>
	</div>
</div>
<div class="welcome container-fluid">
	<div class="container">
		<div class="card border-0 text-center">
			<div class="embed-responsive embed-responsive-1by1">
				<iframe
					width="560" 
					height="315"
					src="https://www.youtube.com/embed/EKl7IRVgg5U?si=sHXPZtAuHmiN2kIj"
					title="YouTube video player"
					frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen
				></iframe>
			</div>
			<div class="card-body">
				<h4 class="card-title">*** CALL TO ACTION ***</h4>
				<h5 class="card-subtitle mb-2 text-muted">
					Chief Brian Wright <a href="mailto:bwright@newlondonct.org" target="_blank">bwright@newlondonct.org</a><br/>
					Councilor Akil Peck <a href="mailto:apeck@newlondonct.org" target="_blank">apeck@newlondonct.org</a><br/>
					Mayor Michael Passero <a href="mailto:mpassero@newlondonct.org" target="_blank">mpassero@newlondonct.org</a></h5>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<a
				href="https://docs.google.com/forms/d/e/1FAIpQLSfV5_85mCkJHjikRMOHK7gtOOdxeUd9XZv8SWOBBS6tim-AAA/viewform?pli=1"
				target="_blank"
			>
				<img class="vote" src="./assets/images/votersurvey.png " />
			</a>
			<h3>Survey</h3>
		</div>
		<div class="col-sm email">
			<fa-icon [icon]="faEnvelopeOpen"></fa-icon><br />
			<a href="mailto:w.keith.kimball@gmail.com " target="_blank"
				>Email Keith</a
			>
		</div>
		<div class="col-sm">
			<a href="https://secure.anedot.com/nlgreens/donate " target="_blank">
				<img class="donate" src="./assets/images/donate.png " />
			</a>
			<h3>Donate</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm"></div>
		<div class="col-sm">
			<a href="https://www.facebook.com/WebWeasel " target="_blank"
				><img class="facebook" src="./assets/images/facebook.png "
			/></a>
			<h3>Visit me on Facebook</h3>
		</div>
		<div class="col-sm"></div>
	</div>
</div>
